resources:
  repositories:
  - repository: self
  - repository: das-platform-building-blocks
    type: github
    name: SkillsFundingAgency/das-platform-building-blocks
    ##TO DO: revert to latest tag
    ref: refs/heads/DASD-8382-AddUpgradeHelmTemplate
    endpoint: SFA
  - repository: das-platform-automation
    type: github
    name: SkillsFundingAgency/das-platform-automation
    ref: refs/tags/4.2.7
    endpoint: SFA

pr: none

trigger:
  batch: true
  branches:
    include:
      - master

variables:
- group: Release Management Resources
- name: HelmClientVersion
  value: 3.4.1
- name: HelmChartVersion
  value: 5.5.7
- name: KubectlVersion
  value: 1.18.8

stages:
- stage: Deploy_Dev
  variables:
  - group: Dev Management Resources
  ##TO DO: establish why ARM deployment tasks are disabled before deploying to dev
  ##TO DO: change the value for ResourceEnvironmentName after checking what else references it
  - group: TEST Tools Service Shared
  - group: TEST Grafana
  jobs:
  - template: pipeline-templates/job/deploy-grafana.yml
    parameters:
      AksClusterName: $(AKSSharedClusterName)
      AksResourceGroupName: $(AKSResourceGroupName)
      AzureServiceConnection: SFA-DAS-DevTest-ARM
      Environment: DEV
      HelmClientVersion: $(HelmClientVersion)
      HelmChartVersion: $(HelmChartVersion)
      KubectlVersion: $(KubectlVersion)
      ResourceGroupLocation: $(ResourceGroupLocation)
      SubscriptionId: $(SubscriptionId)
      TemplateSecrets:
        GRAFANAMYSQLADMINPASSWORD: $(GrafanaMySqlAdminPassword)