replicas: 2
nodeSelector:
  agentpool: mgmt
resources:
  requests:
    cpu: 100m
    memory: 128Mi
plugins:
  - vonage-status-panel
  - flant-statusmap-panel
admin:
  existingSecret: grafana-admin-user
grafana.ini:
  users:
    auto_assign_org: true
    auto_assign_org_id: 3
    auto_assign_org_role: Viewer
  auth:
    oauth_auto_login: false
    disable_login_form: false
  auth.github:
    name: github
    enabled: true
    allow_sign_up: true
    client_id: __GitHubClientId__
    client_secret: __GitHubClientSecret__
    team_ids: "__GitHubTeamIds__"
    allowed_organizations: __GitHubAllowedOrganizations__
  server:
    root_url: __RootUrl__/grafana
    serve_from_sub_path: true
  database:
    type: mysql
    host: __MysqlServerName__.mysql.database.azure.com:3306
    name: grafana
    user: __MySqlUsername__
    password: __MySqlPassword__
    ssl_mode: skip-verify
    ca_cert_path: /etc/ssl/certs/ca-cert-Baltimore_CyberTrust_Root.pem
  external_image_storage:
    provider: azure_blob
  external_image_storage.azure_blob:
    account_name: __StorageAccountName__
    account_key: __StorageAccountKey__
    container_name: alerts
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: "Azure Monitor - Dev/Test"
        orgId: 1
        type: "grafana-azure-monitor-datasource"
        access: "proxy"
        jsonData:
          cloudName: "azuremonitor"
          clientId: __AzureMonitorClientId__
          subscriptionId: __AzureSubscriptionId__
          tenantId: __AzureTenantId__
          azureLogAnalyticsSameAs: true
        secureJsonData:
          clientSecret: __AzureMonitorClientSecret__

      - name: Prometheus
        orgId: 1
        type: prometheus
        access: proxy
        url: http://pom-prometheus.monitoring.svc.cluster.local:9090

      - name: Elasticsearch - Logging
        orgId: 1
        type: elasticsearch
        access: proxy
        database: "das-logstash*"
        url: __ElasticSearchLoggingUrl__
        basicAuth: true
        basicAuthUser: __ElasticsearchLoggingServiceAccountUser__
        jsonData:
          timeField: "@timestamp"
          esVersion: 70
          logMessageField: "Message"
          logLevelField: "level"
        secureJsonData:
          basicAuthPassword: __ElasticsearchLoggingServiceAccountPassword__

      - name: "Azure Monitor - Dev/Test"
        orgId: 3
        type: "grafana-azure-monitor-datasource"
        access: "proxy"
        jsonData:
          cloudName: "azuremonitor"
          clientId: __AzureMonitorClientId__
          subscriptionId: __AzureSubscriptionId__
          tenantId: __AzureTenantId__
          azureLogAnalyticsSameAs: true
        secureJsonData:
          clientSecret: __AzureMonitorClientSecret__

      - name: "Azure Monitor - PreProduction"
        orgId: 3
        type: "grafana-azure-monitor-datasource"
        access: "proxy"
        jsonData:
          cloudName: "azuremonitor"
          clientId: __AzureMonitorPreProdClientId__
          subscriptionId: __AzurePreProdSubscriptionId__
          tenantId: __AzureFCSTenantId__
          azureLogAnalyticsSameAs: true
        secureJsonData:
          clientSecret: __AzureMonitorPreProdClientSecret__

      - name: "Azure Monitor - Production"
        orgId: 3
        type: "grafana-azure-monitor-datasource"
        access: "proxy"
        jsonData:
          cloudName: "azuremonitor"
          clientId: __AzureMonitorProdClientId__
          subscriptionId: __AzureProdSubscriptionId__
          tenantId: __AzureFCSTenantId__
          azureLogAnalyticsSameAs: true
        secureJsonData:
          clientSecret: __AzureMonitorProdClientSecret__

      - name: Prometheus
        orgId: 3
        type: prometheus
        access: proxy
        url: http://pom-prometheus.monitoring.svc.cluster.local:9090

      - name: Elasticsearch - Logging
        orgId: 3
        type: elasticsearch
        access: proxy
        database: "das-logstash*"
        url: __ElasticSearchLoggingUrl__
        basicAuth: true
        basicAuthUser: __ElasticsearchLoggingServiceAccountUser__
        jsonData:
          timeField: "@timestamp"
          esVersion: 70
          logMessageField: "Message"
          logLevelField: "level"
        secureJsonData:
          basicAuthPassword: __ElasticsearchLoggingServiceAccountPassword__
