replicas: 2
image:
  tag: 6.6.0
nodeSelector:
  agentpool: mgmt
resources:
  requests:
    cpu: 100m
    memory: 128Mi
plugins:
  - vonage-status-panel
  - flant-statusmap-panel
admin:
  existingSecret: grafana-admin-user
grafana.ini:
  users:
    auto_assign_org: true
    auto_assign_org_id: 3
    auto_assign_org_role: Viewer
  auth:
    oauth_auto_login: true
    disable_login_form: false
    signout_redirect_url: https://tools.apprenticeships.education.gov.uk/Account/Logout
  auth.generic_oauth:
    enabled: true
    client_id: __Auth0ClientId__
    client_secret: __Auth0ClientSecret__
    scopes: openid profile email
    auth_url: https://dfe-apprenticeships.eu.auth0.com/authorize
    token_url: https://dfe-apprenticeships.eu.auth0.com/oauth/token
    api_url:  https://dfe-apprenticeships.eu.auth0.com/usrinfo
    send_client_credentials_via_post: true
    allow_sign_up: true
  server:
    root_url: https://tools.apprenticeships.education.gov.uk/grafana
    serve_from_sub_path: true
  database:
    type: mysql
    host: __MysqlServerName__.mysql.database.azure.com:3306
    name: grafana
    user: __MySqlUsername__
    password: __MySqlPassword__
    ssl_mode: skip-verify
    ca_cert_path: /etc/ssl/certs/ca-cert-Baltimore_CyberTrust_Root.pem
  external_image_storage:
    provider: azure_blob
  external_image_storage.azure_blob:
    account_name: __StorageAccountName__
    account_key: __StorageAccountKey__
    container_name: alerts
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: "Azure Monitor - Dev/Test"
        orgId: 1
        type: "grafana-azure-monitor-datasource"
        access: "proxy"
        jsonData:
          cloudName: "azuremonitor"
          clientId: __AzureMonitorClientId__
          subscriptionId: __AzureSubscriptionId__
          tenantId: __AzureTenantId__
          azureLogAnalyticsSameAs: true
          logAnalyticsDefaultWorkspace: __DevLogAnalyticsWorkspaceId__
        secureJsonData:
          clientSecret: __AzureMonitorClientSecret__

      - name: Prometheus
        orgId: 1
        type: prometheus
        access: proxy
        url: http://pom-prometheus.monitoring.svc.cluster.local:9090

      - name: Elasticsearch - Logging
        orgId: 1
        type: elasticsearch
        access: proxy
        database: "das-logstash*"
        url: __ElasticSearchLoggingUrl__
        basicAuth: true
        basicAuthUser: __ElasticsearchLoggingServiceAccountUser__
        jsonData:
          timeField: "@timestamp"
          esVersion: 70
          logMessageField: "Message"
          logLevelField: "level"
        secureJsonData:
          basicAuthPassword: __ElasticsearchLoggingServiceAccountPassword__

      - name: "Azure Monitor - Dev/Test"
        orgId: 3
        type: "grafana-azure-monitor-datasource"
        access: "proxy"
        jsonData:
          cloudName: "azuremonitor"
          clientId: __AzureMonitorClientId__
          subscriptionId: __AzureSubscriptionId__
          tenantId: __AzureTenantId__
          azureLogAnalyticsSameAs: true
          logAnalyticsDefaultWorkspace: __DevLogAnalyticsWorkspaceId__
        secureJsonData:
          clientSecret: __AzureMonitorClientSecret__

      - name: "Azure Monitor - PreProduction"
        orgId: 3
        type: "grafana-azure-monitor-datasource"
        access: "proxy"
        jsonData:
          cloudName: "azuremonitor"
          clientId: __AzureMonitorPreProdClientId__
          subscriptionId: __AzurePreProdSubscriptionId__
          tenantId: __AzureFCSTenantId__
          azureLogAnalyticsSameAs: true
          logAnalyticsDefaultWorkspace: __PreProdLogAnalyticsWorkspaceId__
        secureJsonData:
          clientSecret: __AzureMonitorPreProdClientSecret__

      - name: "Azure Monitor - Production"
        orgId: 3
        type: "grafana-azure-monitor-datasource"
        access: "proxy"
        jsonData:
          cloudName: "azuremonitor"
          clientId: __AzureMonitorProdClientId__
          subscriptionId: __AzureProdSubscriptionId__
          tenantId: __AzureFCSTenantId__
          azureLogAnalyticsSameAs: true
          logAnalyticsDefaultWorkspace: __ProdLogAnalyticsWorkspaceId__
        secureJsonData:
          clientSecret: __AzureMonitorProdClientSecret__

      - name: "Azure Monitor - NAS"
        orgId: 3
        type: "grafana-azure-monitor-datasource"
        access: "proxy"
        jsonData:
          cloudName: "azuremonitor"
          clientId: __AzureMonitorNASClientId__
          subscriptionId: __AzureNASSubscriptionId__
          tenantId: __AzureNASTenantId__
          azureLogAnalyticsSameAs: true
          logAnalyticsDefaultWorkspace: __NASLogAnalyticsWorkspaceId__
        secureJsonData:
          clientSecret: __AzureMonitorNASClientSecret__

      - name: Prometheus
        orgId: 3
        type: prometheus
        access: proxy
        url: http://pom-prometheus.monitoring.svc.cluster.local:9090

      - name: Elasticsearch - Logging
        orgId: 3
        type: elasticsearch
        access: proxy
        database: "das-logstash*"
        url: __ElasticSearchLoggingUrl__
        basicAuth: true
        basicAuthUser: __ElasticsearchLoggingServiceAccountUser__
        jsonData:
          timeField: "@timestamp"
          esVersion: 70
          logMessageField: "Message"
          logLevelField: "level"
        secureJsonData:
          basicAuthPassword: __ElasticsearchLoggingServiceAccountPassword__
