replicas: 2
plugins:
  - grafana-azure-monitor-datasource
  - natel-plotly-panel
users:
  auto_assign_org: false
admin:
  existingSecret: grafana-admin-user
grafana.ini:
  auth.github:
    name: github
    enabled: true
    allow_sign_up: false
    client_id: __GitHubClientId__
    client_secret: __GitHubClientSecret__
    team_ids: '__GitHubTeamIds__'
    allowed_organizations: __GitHubAllowedOrganizations__
  server:
    root_url: __RootUrl__
  database:
    type: mysql
    host: __MysqlServerName__.mysql.database.azure.com:3306
    name: grafana
    user: __MySqlUsername__
    password: __MySqlPassword__
    ssl_mode: skip-verify
    ca_cert_path: /etc/ssl/certs/Baltimore_CyberTrust_Root.pem
datasources:
 datasources.yaml:
   apiVersion: 1
   datasources:
    - name: "Azure Monitor"
      orgId: 1
      type: "grafana-azure-monitor-datasource"
      access: "proxy"
      jsonData:
        cloudName: "azuremonitor"
        clientId: __AzureMonitorClientId__
        subscriptionId: __AzureSubscriptionId__
        tenantId: __AzureTenantId__
        azureLogAnalyticsSameAs: true
      secureJsonData:
        clientSecret: __AzureMonitorClientSecret__
    - name: "Azure Monitor"
      orgId: 2
      type: "grafana-azure-monitor-datasource"
      access: "proxy"
      jsonData:
        cloudName: "azuremonitor"
        clientId: __AzureMonitorPreProdClientId__
        subscriptionId: __AzurePreProdSubscriptionId__
        tenantId: __AzureFCSTenantId__
        azureLogAnalyticsSameAs: true
      secureJsonData:
        clientSecret: __AzureMonitorPreProdClientSecret__
    - name: "Azure Monitor"
      orgId: 3
      type: "grafana-azure-monitor-datasource"
      access: "proxy"
      jsonData:
        cloudName: "azuremonitor"
        clientId: __AzureMonitorProdClientId__
        subscriptionId: __AzureProdSubscriptionId__
        tenantId: __AzureFCSTenantId__
        azureLogAnalyticsSameAs: true
      secureJsonData:
        clientSecret: __AzureMonitorProdClientSecret__
    - name: "MSSQL - Forecasting"
      orgId: 1
      type: mssql
      url: __TestSharedSqlServerName__.database.windows.net:1433
      database: __TestForecastingDatabaseName__
      user: __ForecastingServiceAccountUsername__
      jsonData:
        maxOpenConns: 0
        maxIdleConns: 2
        connMaxLifetime: 14400
      secureJsonData:
        password:  "__TestForecastingServiceAccountPassword__"
    - name: "MSSQL - Forecasting"
      orgId: 2
      type: mssql
      url: __PreProdSharedSqlServerName__.database.windows.net:1433
      database: __PreProdForecastingDatabaseName__
      user: __ForecastingServiceAccountUsername__
      jsonData:
        maxOpenConns: 0
        maxIdleConns: 2
        connMaxLifetime: 14400
      secureJsonData:
        password:  "__PreProdForecastingServiceAccountPassword__"
    - name: "MSSQL - Forecasting"
      orgId: 3
      type: mssql
      url: __ProdSharedSqlServerName__.database.windows.net:1433
      database: __ProdForecastingDatabaseName__
      user: __ForecastingServiceAccountUsername__
      jsonData:
        maxOpenConns: 0
        maxIdleConns: 2
        connMaxLifetime: 14400
      secureJsonData:
        password:  "__ProdForecastingServiceAccountPassword__"
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - __CustomDomain__
  tls:
    - hosts:
      - __CustomDomain__
      secretName: __TlsSecretName__
